[client]
default-character-set="utf8"

[mysql]
default-character-set="utf8"

[mysqld]
sql-mode=""
default-time-zone="+06:00"
collation-server="utf8_general_ci"
init-connect="SET NAMES utf8"
character-set-server="utf8"
sort_buffer_size=256000000
